<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>New spaceship</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div id="container">
    <h1>New ship registration</h1>
    <form class="form" data-th-action="@{/spaceship}" method="post" data-th-object="${newShip}">

        <select data-th-field="*{spaceShipClass}">
            <option data-th-each="shipClass : ${shipClasses}"
                    data-th-value="${shipClass}"
                    data-th-text="${shipClass}">
            </option>
        </select>
        <input type="text" data-th-field="*{name}" placeholder="name">
        <input class="send_button" type="submit" value="Send">

    </form>

</div>

</body>

</html>